%h1 Listing books

%table
  %thead
    %tr
      %th Title
      %th Location
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.location
        %td= link_to 'Edit', edit_book_path(book)

